.wrapper {
    display: flex;
    flex-flow: row wrap;
    font-weight: bold;
    text-align: center;
    background-color: darkorange;
    height: 100%;
}

.wrapper > * {
    padding: 15px;
    flex: 1 100%;
}

/* Navigation */

.navbar {
    background: tomato;
    height: 7em;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title {
    /*font-size: calc(1.5px + 10vw);*/
    text-align: left;
    font-size: 3em;
    flex-grow: 3;
}

.icon-container {
    flex-grow: 1;

    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.icon-container div {
    padding-left: 15px;
}

.icon {
    color: #fff;
    font-size: 1.5em;
}

/* Hamburger icon display switching */
#hamburger {
    display: none;
}

@media all and (max-width: 767px) {
    #hamburger {
        display: block;
    }

    .icon-container div:not(#hamburger) {
        display: none;
    }
}

/* Dropdown menu section */
.dropdown {
    background-color: #0aae32;
}

.main {
    text-align: left;
    background: deepskyblue;
    height: 100%;
}

