.navbar {
  overflow: hidden;
}

#myNavBar1 {
	background: #5680E9;
}

#myNavBar2 {
	background: #5680E9;
}

#myNavBar3 {
	background: #5680E9;
}



.navbar a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 10px 16px;
  text-decoration: none;
  font-size: 3em;
}

.navbar .buttons {
	float:right;
}

.navbar a.title {
	float: left;
	font-size: 3em;
	font-weight:bold;
    flex-grow: 3;
	margin-left:15px;
}

.navbar .menuButton {
  display: none;
}

#star {
	margin-left: 50px;
	margin-right: 50px;
}

@media screen and (max-width: 600px) {
	.navbar a {
		display: none;
	}
	.navbar a.title{
		display: block;
		text-align:left;
	}
	.navbar a.menuButton {
		float: right;
		display: block;
	}
	
	.navbar.collapsed {
		position: relative;
	}	  
	.navbar.collapsed a.title{
		display: block;
		text-align:left;
	}
	
	.navbar.collapsed .menuButton {
		position: absolute;
		right: 0;
		top: 0;
	}
	.navbar.collapsed a {
		float: none;
		display: block;
		text-align: center;
	}
	.navbar.collapsed .buttons {
		float: unset;
	}
}

