html, body, .page {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  color: #fff;
  overflow: hidden; 
}

* {
  font-family: 'open sans', 'lato', 'helvetica', sans-serif;
}

#p1, #p2 { background-image: radial-gradient(#84CEEB, #84a5eb); width:100%;}


a {
  text-decoration: none;
}




.page .pageInfo {
	position:absolute;
	width: 100%;
	height: 100%;
}


section.homePage{
	overflow-y:scroll;
}

.post {
	width: 80%;
	margin-left:10%;
	margin-top: 75px;
	margin-bottom: 75px;
	border: 7px solid white;
	border-radius: 12px;
	position:relative;
	padding-right: 22px;
	font-size: 20px;
	line-height: 1.4;
}

.external:visited {
	color:white;
}

.external {
	text-decoration:underline;
}

.post li {
	list-style-type: none;
}

#contactInfo li {
	list-style-type: disc;
}

.date {
	flex: 48%;
	max-width: 48%;
}

.location {
	flex: 48%;
	max-width: 48%;
}
.NightLife {
	background-image: repeating-linear-gradient(#5AB9EA, #8860D0);
}

.LiveMusic {
	background-image:  repeating-linear-gradient(#5AB9EA, #8860D0);
}

.Party {
	background-image: repeating-linear-gradient(#5AB9EA, #8860D0);
}

.talent {
	background-image: repeating-linear-gradient(#5AB9EA, #8860D0);
}
.post h3 {
	text-align: center;
	font-size: 35px;
	margin:10px 0px;
}
.post h4 {
	font-size: 20px;
}

.filterHead, .filterOpt {
  cursor: pointer;
}

.filterHead {
	font-size: 35px;
	margin-left: 11%;
}

.filterOpt {
	display:flex;
	font-size: 25px;
	list-style-type: none;
	margin-left:11%;
	
}

.filterOpt li {
	margin-right:3%;
}

.filterSection {
	width:100%;
}