html, body, .page {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  color: #fff;
  overflow: hidden; 
}
* {
  font-family: 'open sans', 'lato', 'helvetica', sans-serif;
}







a {
	text-decoration: none;
}
a:visited {
	color: white;
}

#p1, #p2 { 
	background-image: radial-gradient(#84CEEB, #84a5eb); 
	width:100%;
}
#p2 {
	overflow-y:scroll;
}
.page, .shifted { 
	position: relative;
	height: calc(100% - 75px);
	
}
@media screen and (max-width: 600px) {
	.page.shifted { 
		height: calc(100% - 279px);
	}
}






section.homeFeed {
	position:absolute;
	width: 60%;
	height: 100%;
	margin-left:40%;
	overflow-y:scroll;
}
section.map {
	position:absolute;
	width:40%;
	height:100%;
	overflow-y:none;
	border: 8px solid white;
}
.mapouter { 
	position:absolute;
	text-align:right;
	height:100%;
	width:100%;
}
.gmap_canvas {
	overflow:hidden;
	background:none!important;
	height:100%;
	width:100%;
}
.gMap {
	display:none;
}
#post0map {
	display:block;
}
@media screen and (max-width: 850px) {
	section.map {
		display:none;
	}
	
	section.homeFeed {
		width: 100%;
		margin-left: 0;
	}
}








.filterSection {
	width:100%;
}
.filterHead {
	font-size: 35px;
	text-align:center;
	margin-bottom:10px;
	margin-right: 42%;
	margin-left: 42%;
	cursor: pointer;
}
.filterOpt {
	display:none;
}
.filterOpt.dropped {
	display:flex;
	float:center;
	width:100%;
	font-size: 25px;
	margin-bottom: 25px;
}
#leftFilt {
	float: left;
	margin-left:3%;
	width:80%;
}
#secondFilter {
	margin-left: 3%;
	margin-right: 3%;
}
#clr {
	float:right;
	margin-right:3%;
}
.click {
	cursor:pointer;
}
input {
  border:solid 1px #ccc;
  border-radius: 5px;
  padding:7px 14px;
  max-height: 100px;
  margin-right: 4%;
  margin-left: 4%
}
input:focus {
  outline:none;
  border-color:#aaa;
}
@media screen and (max-width: 1139px) {
	.homeFeed .filterOpt.dropped {
		display:block;
		width:100%;
		font-size: 25px;
		text-align:center;
	}
	.homeFeed .filterOpt.dropped #leftFilt{
		margin-left: initial;
		margin-right: initial;
		width:100%;
	}
	.homeFeed .filterOpt.dropped #clr{
		display:block;
		float:initial;
		text-align:center;
		margin-right:initial;
	}
	.homeFeed .filterOpt {
		display:none;
	}
	
}
@media screen and (max-width: 667px) {
	.tbFeed .filterOpt.dropped {
		display:block;
		width:100%;
		font-size: 25px;
		text-align:center;
	}
	.tbFeed .filterOpt.dropped #leftFilt{
		margin-left: initial;
		margin-right: initial;
		width:100%;
	}
	.tbFeed .filterOpt.dropped #clr{
		display:block;
		float:initial;
		text-align:center;
		margin-right:initial;
	}
	.tbFeed .filterOpt {
		display:none;
	}
	
}

.column {
	float: left;
	width: 33%;
	padding: 0 10px;
}

@media screen and (max-width: 1550px) {
  .column {
    width: 50%;
    display: block;
    margin-bottom: 20px;
  }
}





.post {
	width: 90%;
	margin-left:10%;
	margin-top: 75px;
	margin-bottom: 75px;
	margin-right: 10%;
	border: 7px solid white;
	border-radius: 12px;
	position:relative;
	padding-right: 22px;
	font-size: 20px;
	line-height: 1.4;
}


ul.list {
	list-style-type: none;
	list-style-position:inside;
	margin-left:0;
	padding:0;
}
.post:hover {
	cursor:pointer;
}
.external:visited {
	color:white;
}
.external {
	text-decoration:underline;
}
.post li {
	list-style-type: none;
}
.date {
	flex: 48%;
	max-width: 48%;
}
.location {
	flex: 48%;
	max-width: 48%;
}
.NightLife {
	background-image: repeating-linear-gradient(#5AB9EA, #8860D0);
}
.LiveMusic {
	background-image:  repeating-linear-gradient(#5AB9EA, #8860D0);
}
.Party {
	background-image: repeating-linear-gradient(#5AB9EA, #8860D0);
}
.talent {
	background-image: repeating-linear-gradient(#5AB9EA, #8860D0);
}
.post h3 {
	text-align: center;
	font-size: 35px;
	margin:10px 0px;
}
.post h4 {
	font-size: 20px;
}
.row {
	display:flex;
}
@media screen and (max-width: 540px) {
	.post ul.contact {
		list-style-type: none;
		padding: 0;
	}
}